html
	body
		a(
			href="/"
		)="Ir al formulario"
		h2="Vista de productos"
		if productos.length == 0
			h3= "No hay datos"
		else
			table
				tr
					th="Titulo"
					th="Precio"
					th="Foto URL"
				each producto in productos
					tr
						td=producto.title
						td=producto.price
						td
							img(
								src=producto.thumbnail
							)